@model NguyenHoaiNam_2310900073.Models.NhnEmployee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NhnEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhnEmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhnEmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhnEmpLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhnEmpLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhnEmpStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhnEmpStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhnEmpStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhnEmpStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NhnEmpId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
