@model NguyenHoaiNam_2310900073.Models.NhnEmployee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NhnEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhnEmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhnEmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhnEmpLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhnEmpLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhnEmpStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhnEmpStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhnEmpStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhnEmpStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NhnEmpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
